@import "Reset.css";
@import "Header.css";
@import "Footer.css";

.App {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 578px;
  justify-content: space-between;
  margin: 80px;
  position: relative;
  width: 290px;
}
