@import "Reset.css";
@import "Resizeable.css";
@import "Header.css";
@import "Folders.css";
@import "Footer.css";

article {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 578px;
}
