@import "Reset.css";
@import "Resizeable.css";
@import "Header.css";
@import "Folders.css";
@import "Footer.css";

article {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-shadow: 30px 30px 30px -30px #c5c5c5, 30px 30px 30px -30px #c5c5c5, -30px 30px 30px -30px #c5c5c5;
  display: flex;
  flex-direction: column;
  height: 578px;
}
