footer {
  align-items: center;
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  display: flex;
  flex: 0 1 48px;
  height: 48px;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 14px;
}

footer > a, 
footer > button {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 28px;
  min-height: 28px;
  width: 56px;
}

footer > a {
  color: #2d87f1;
}

footer > button {
  background-color: #2d87f1;
  border-radius: 2px;
  color: #fff;
  justify-content: center;
  transition: all .2s ease-in-out;
}

footer > button:hover {
  opacity: 0.5;
}